$width: 210px;
$height: $width * (88.9 / 56);

.cards {
  white-space: nowrap;
  height: 100%;
  display: inline-block;
  contain: layout;

  &.overlap {
    .cardContainer {
      // @for $i from 0 through 20 {
      //   &:nth-child(#{$i + 1}) {
      //     transform: translateX($i * -50%);
      //   }
      // }
      margin: 0 5px;

      .card {
        transition: transform 0.1s linear;
      }

      &:hover .card,
      & .card:hover {
        transform: translateX(10px) translateY(-14px) rotate(3deg) !important;
      }
    }
  }
}

.cardContainer {
  height: 100%;
  user-select: none;
  display: inline-block;
  cursor: pointer;

  .card {
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 3.5%;

    @each $color in "red", "green", "blue", "yellow" {
      &.#{$color} {
        --color: var(--on-#{$color});
        --card-bg: var(--#{$color});
        --on-card-bg: var(--on-#{$color});
      }
    }

    &.dark {
      --card-bg: var(--dark-bg);
    }
  }
}
