$width: 210px;
$height: $width * (88.9 / 56);

.cards {
  white-space: nowrap;
  height: 100%;
  display: inline-block;

  &.overlap {
    .cardContainer {
      @for $i from 0 through 20 {
        &:nth-child(#{$i + 1}) {
          transform: translateX($i * -50%);
        }
      }
      .card {
        transition: transform 0.1s linear;
      }

      &:hover .card,
      & .card:hover {
        transform: translateX(20px) translateY(-20px) rotate(3deg);
      }
    }
  }
}

.cardContainer {
  height: 100%;
  user-select: none;
  display: inline-block;
  cursor: pointer;

  .card {
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    .background {
    }

    @each $color in "red", "green", "blue", "yellow" {
      &.#{$color} {
        color: var(--on-#{$color});
        .background {
          fill: var(--#{$color});
        }
      }
    }

    &.dark {
      & + .cardContainer .card .background {
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.05);
      }
      .background {
        fill: var(--card-bg);
      }
    }
  }
}
