$width: 210px;
$height: $width * (88.9 / 56);

.cards {
  white-space: nowrap;
  height: 100%;
  display: inline-block;

  &.overlap {
    .cardContainer {
      @for $i from 0 through 20 {
        &:nth-child(#{$i + 1}) {
          transform: translateX($i * -50%);
        }
      }
      .card {
        transition: transform 0.1s linear;
      }

      &:hover .card,
      & .card:hover {
        transform: translateX(20px) translateY(-20px) rotate(3deg) !important;
      }
    }
  }
}

.cardContainer {
  height: 100%;
  user-select: none;
  display: inline-block;
  cursor: pointer;

  .card {
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 3.5%;

    @each $color in "red", "green", "blue", "yellow" {
      &.#{$color} {
        --card-bg: var(--#{$color});
        --color: var(--on-#{$color});
      }
    }

    &.dark {
      --card-bg: var(--dark-bg);

      & + .cardContainer .card {
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.05);
      }
    }
  }
}
